/* --steel-teal: #587b7fff;
--black-chocolate: #1e2019ff;
--kombu-green: #394032ff;
--asparagus: #8dab7fff;
--yellow-green-crayola: #cfee9eff; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background-color: rgba(57, 64, 50, 0.945);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.header .logo {
    padding: 2px;
    height: 150px;
    width: 50px;
}

.header ul {
    list-style: none;
    display: flex;
}

.header li, .footer li {
    margin: 7px;
}

.header a, .footer a { 
    color: #587b7fff;
    text-decoration: none;
}

.header a:hover, .footer a:hover {
    color:  #8dab7fff;
    font-weight: bold ;
}

.footer {
    background-color: rgba(57, 64, 50, 0.945);
    height: 200px;
}

.footer ul {
    display: flex;
    list-style: none;
    width: 450px;
    margin:  0 auto;
    justify-content: center;
}

.footer div {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 50px;
    font-style: italic;
    
}

main {
    min-height: 80vh;
    background-color: rgba(88, 123, 127, 0.274);
}
main .titulo {
    font-size: 30px;
    font-weight: bold;
    color: rgba(57, 64, 50, 0.76);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

main .titulo:hover {
    color: rgba(47, 133, 133, 0.521);
    transform:skew(8deg)

}

.grid-container {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

.grid-container img {
    width: 250px;
    border:10px solid;
}

.grid-container a {
    text-decoration: none;
   color: rgb(57, 64, 50);
}

.grid-container a:hover {
    color:  #8dab7fff;
    font-weight: bold ;
}

.container-nosotros {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.container-nosotros img {
    margin: 10px;
    width: 100%;
    border-radius: 15px;
}

.text-nosotros {
text-align:center;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


.footer ul {
    width: 180px;
  }

.footer-derechos{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}  


@media (max-width:780px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width:700px) {
    .header {
        flex-direction: column;
    }
    .header .logo {
        position:  relative;
        right: 50px;
    }
}

@media (max-width:530px) {
    .grid-container {
        grid-template-columns: repeat(1,1fr);
    }
}