
//  EXTEND

%estiloTitulo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

// MIXIN

@mixin fontStyle {
    font-size: 30px;
    font-weight: bold;
    color: rgba(57, 64, 50, 0.76);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}