/* --steel-teal: #587b7fff;
--black-chocolate: #1e2019ff;
--kombu-green: #394032ff;
--asparagus: #8dab7fff;
--yellow-green-crayola: #cfee9eff; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}
/* HEADER */
.header {
    background-color: #b87e4be0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.header .logo {
    padding: 2px;
    height: 150px;
    width: 50px;
}

.header ul {
    list-style: none;
    display: flex;
}

.header li {
    margin: 7px;
}

.header a { 
    color: #523A34;
    font-weight: bold;
    text-decoration: none;
}

.header a:hover {
    color:  #8dab7fff;
    font-weight: bold ;
}

.header li:hover {
    transform: translate(0px, -7px);
    transform-origin: center center;
}

/* MAIN */

main {
    min-height: 80vh;
    background-color: rgba(88, 123, 127, 0.274);
    background-image:url(../imagenes/tienda4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .titulo {
    font-size: 30px;
    font-weight: bold;
    color: #523A34; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    display: none;
}

main .titulo:hover {
    color: rgba(47, 133, 133, 0.521);
    transform:skew(8deg)

}
.tienda-online {
    text-align: center;
    padding: 20px;
}

main .fondo-2 {
    background-color: rgba(49, 47, 47, 0.808);
    border-radius: 95px;
    min-height: 80vh;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    padding: 10px;
   
}

.grid-container img {
    width: 250px;
    border:2px solid;
}

.grid-container a {
    text-decoration: none;
   color: #b87e4be0;
}

.grid-container a:hover {
   color: rgb(88, 123, 127);
}


.text-nosotros {
text-align:center;
font-weight: bolder;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgba(88, 123, 127, 0.185);
border-radius: 10px;
}

.formulario  {
   width: 300px;
   margin: 0 auto;
   padding: 12px;
   background-color:rgba(255, 255, 255, 0.377);
   color: #999;
   border-radius: 10px;
   font-size: 1.3em;
   transition: all .3s ;
}

.formulario:hover {
 transform: scale(1.1);
}
.field {
    border: solid 1px #ccc;
    padding: 7px;
    width: 280px;
}

.field:focus {
    border-color: rgb(88, 123, 127);
}

.field:hover {
    transform: translate(1px,1px);
}
.formulario-texto {
    text-align: center;
    padding: 10px;
}
form p {
    color: rgba(36, 34, 34, 0.808);
}

form span {
    color: rgba(36, 34, 34, 0.808);
}
p {
    font-weight: bolder;
}
.btn-form {
    background-color:rgba(68, 209, 103, 0.63);
    border-radius: 5px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    box-shadow:  0 1px 0 rgb(0, 0, 0);
    width: 250px;
}
.btn-form:hover {
    border-color: rgb(88, 123, 127);
}
.accordion {
    --bs-accordion-bg: #d1dbdc;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: #b87e4be0;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img {
    width: 215px;
}

.footer .grupo-1 .box h2 {
    color: #523A34;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo-1 .box a {
    text-decoration: none;
    color: #523A34;
    transition: all 300ms ease;
}

.footer .grupo-1 .box p {
    font-size: 10px;
    padding: 5px;
    font-weight: bolder;
    color: #523A34;
}

.footer .grupo-1 .box a:hover {
    color: rgba(47, 133, 133, 0.521);
    font-weight: bold;
}

.footer .grupo-1 .red-social a {
    display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
color: #fff;
margin-right: 10px;
background-color: #523A34;
text-align: center;
transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover {
    color: rgba(47, 133, 133, 0.521);
}

.footer .grupo-2 {
    background-color: #816b57;
    padding: 15px 10px;
    text-align: center;
}

@media (max-width:780px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
    .footer .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    
}


@media (max-width:700px) {
    .header {
        flex-direction: column;
    }
    .header .logo {
        position:  relative;
        right: 50px;
    }
}

@media (max-width:530px) {
    .grid-container {
        grid-template-columns: repeat(1,1fr);
    }
    .footer .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }

}